@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

.header {
  margin-top: 20px;
  margin-bottom: 20px;

  &__menu {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      width: 75%;
      margin: auto;
    }

    &--logo {
      height: 40px;
      width: 112.1px;
      @include mobile {
        height: 40px;
        width: 112.1px;
        margin: auto;
      }
      @include tablet {
        height: 58px;
        width: 163px;
        margin: auto;
      }
      @include desktop {
        height: 58px;
        width: 163px;
        margin: 0px;
        border-radius: 16px 0px 0px 16px;
      }
    }

    &--item {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    &-language--flag {
      padding-top: 2px;
      padding-right: 25px;
      padding-bottom: 2px;
      padding-left: 25px;
    }
  }

  &__hamburger {
    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 95%;
      margin: auto;
    }
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 85%;
      margin: auto;
    }
    @include desktop {
      display: none;
    }
  }
}

.active {
  color: $color-primary-dark_1;
}

.inactive {
  color: $color-grey_0;
}

.active-flag {
  background-color: $color-grey_4;
}

.material-icons {
  height: 20px;
  width: 20px;
}
